<!-- <form action="/new" method="POST">
  <input type="text" name="name"></input>
  <input type="text" name="description"></input>
  <input type="submit"></input>
</form>
<h1>ACP BREVETS</h1>
<h2
{% for item in items %} 
  <p> {{ item.km }} <p>
  <p> {{ item.open_time }} <p>
  <p> {{ item.close_time }} <p>
{% endfor %}
-->

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>
</head>

<body>
<div class="container">
  <h1>ACP BREVETS</h1>
  <div class="row">
    <div class="col-md-4">
      <h2>Controle(s)</h2>
      <div class="col-md-4">
        {% for item in items %}
          {% if item.km != '' %}
             <p>{{loop.index}}) {{item.km}} km(s)</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <h2>Open Time(s)</h2>
      <div class="col-md-4">
        {% for item in items %}
          {% if item.open_time != '' %}
          <p>{{loop.index}}) {{item.open_time}}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <h2>Close Time(s)</h2>
      <div class="col-md-4">
        {% for item in items %}
          {% if item.close_time != '' %}
          <p>{{loop.index}}) {{item.close_time}}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <a class="btn btn-primary" href="/index" role="button">Start Over</a>
  </div>
</div>
</body> </html>

